.layout__sider__logo {
  margin: 5%;
  margin-left: 0;
  height: 40px;
}

.layout__content {
  margin-top: 3%;
}

.layout__sider {
  background-color: #fff;
}

.layout__sider__btn {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 20px;
  padding: 5%;
  height: 5%;
}

.layout {
  width: 100%;
  background-color: #f0f0f0;
}

.dashboard {
  width: 100%;
  height: 100vh;
}
