.layout__sider__logo {
  margin: 5%;
  margin-left: 0;
  height: 40px;
}

.layout__content {
  margin-top: 3%;
  margin-right: 3%;
}

.layout__sider {
  background-color: #fff;
  display: flex;
}

.layout__sider__btn {
  width: 150%;
  display: flex;
  justify-content: flex-start;
  border-radius: 0;
  font-size: 20px;
  padding: 5%;
  padding-left: 12%;
  height: 5%;
}

.layout {
  width: 100%;
  flex-grow: 1;
  background-color: #f0f0f0;
}

.dashboard {
  width: 100%;
  height: 100vh;
}
